
/* Side Menu */

.optin-flyin-display{
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: -100%;
    width: 250px;
    height: 50%;    
    background: #fff;
    -webkit-box-shadow: -23px -15px 68px -48px rgba(0,0,0,1);
    -moz-box-shadow: -23px -15px 68px -48px rgba(0,0,0,1);
    box-shadow: -23px -15px 68px -48px rgba(0,0,0,1);
    border-top: 12px solid #0097A7;
}


.optin-flyin-content{
    position: absolute;
    top: -33px;
    left: -17px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    cursor: pointer;

}


.optin-header-flyin h2{
    margin-top: 0;
    text-align: center;
    color: #fff;
    background: #00B9D2;    
    padding: 8px;

}

#menu-close-flyin{
    margin-top: 0px;
    padding: 12px;    
    width: 34px;
    line-height: 1px;
}


 #optin-email{
      width: 80%;
      margin: auto;
      border-radius: 0;
}

#optin-email-button{
        width: 80%;
        margin: 0 auto;
        border-radius: 0;
        display: block;
        background: #00B9D2;
        border: none;
}

#stickytop-wrapper{ display: none;}
#stickytop-wrapper.in{ display: block;}

#stickytop-wrapper.affix{
        top:0;
        width: 100%;
    }

.stickytop-affix {
  
      padding: 20px 0;
      background-color: rgba(96, 131, 171, 0.5);
      top: 0;
      left: 0;     
      width: 100%;
      position: fixed;
      text-align: center;
      -webkit-box-shadow: -9px 28px 63px -34px rgba(0,0,0,0.84);
      -moz-box-shadow: -9px 28px 63px -34px rgba(0,0,0,0.84);
      box-shadow: -9px 28px 63px -34px rgba(0,0,0,0.84);
      border-bottom: 3px solid #111;
}


#stickytop-close{

    border-radius: 30px;
    background-color: #fff;   
    margin-top: 45px;
    margin-right: 10px;

}


.text-color{
  margin-top: 20px;
}


