
/* Side Menu */



.modal-content.clearfix.lightbox_layout1{
  background: green;
}


.modal-content.clearfix.lightbox_layout2{
  background: red;
}


.modal-content.clearfix.lightbox_layout3{
  background: yellow;
}

/*.optin-content-flyin{
    background-color: white;
  /*  margin: 0px 95px 0px*/
}
*/
.optin-content-flyin.flyer_layout1{
    background-color: green;
   
}

.optin-flyin-display.flyer_layout1{
  background: #eee;
  color: #fff;
}

.optin-header-flyin.flyer_layout1{

  background: #00B9D2;

}

.optin-content-flyin.flyer_layout2{
    background: #94CA66;    
    color: #fff;
}

.optin-content-flyin.flyer_layout2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 13px solid #94CA66;
  border-left: 128px solid transparent;
  border-right: 130px solid transparent;
  top: 208px;
}

.optin-content-flyin.flyer_layout3, .optin-flyin-display.flyer_layout3{
    background-color: #475B65;
    color: #fff;
}




.optin-flyin-display{
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: -100%;
    width: 250px;
    height: 50%;    
    background: #fff;
    -webkit-box-shadow: -23px -15px 68px -48px rgba(0,0,0,1);
    -moz-box-shadow: -23px -15px 68px -48px rgba(0,0,0,1);
    box-shadow: -23px -15px 68px -48px rgba(0,0,0,1);
    border-top: 12px solid #3e4f56;
}


.optin-flyin-content{
    position: absolute;
    top: -33px;
    left: -17px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    cursor: pointer;

}


.optin-header-flyin h2{
    margin-top: 0;
    text-align: center;
    color: #fff;
    /*background: #00B9D2;    */
    padding: 8px;
    margin: 0px 0px;

}

#menu-close-flyin{
    margin-top: 0px;
    padding: 12px;    
    width: 34px;
    line-height: 1px;
}


 #optin-email{
      width: 80%;
      margin: auto;
      border-radius: 0;
}

#optin-email-button{
        width: 80%;
        margin: 0 auto;
        border-radius: 0;
        display: block;
        background: #94CA66;
        border: none;
}

#stickytop-wrapper{ display: none;}
#stickytop-wrapper.in{ display: block;}

#stickytop-wrapper.affix{
        top:0;
        width: 100%;
    }

.stickytop-affix {
  
      padding: 20px 0;
      background-color: rgba(96, 131, 171, 0.5);
      top: 0;
      left: 0;     
      width: 100%;
      position: fixed;
      text-align: center;
      -webkit-box-shadow: -9px 28px 63px -34px rgba(0,0,0,0.84);
      -moz-box-shadow: -9px 28px 63px -34px rgba(0,0,0,0.84);
      box-shadow: -9px 28px 63px -34px rgba(0,0,0,0.84);
      border-bottom: 3px solid #111;
      height: 20%;
}


#stickytop-close{

    border-radius: 30px;
    background-color: #fff;   
    margin-top: 45px;
    margin-right: 10px;

}


.text-color{
  margin-top: 20px;
}


/*
.test {
   width: 250px;
  height: 100px;
  padding-top: 12px;
  position: relative;
  background: red;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}*/
